# ===== MongoDB Atlas =====
MONGO_URI=mongodb+srv://<user>:<pass>@cluster0.xxxxx.mongodb.net/mdd_care

# ===== Server =====
PORT=5000
FRONTEND_URL=https://mdd-care.vercel.app

# ===== Twilio SMS Gateway (Production) =====
TWILIO_SID=ACxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_PHONE=+1xxxxxxxxxx
